/* Reset default margin and padding for all elements */
@font-face {
    src: url(fonts/LOKICOLA.TTF);
    font-family: LOKICOLA;
    font-style: normal;
}
@font-face {
    src: url(fonts/Tasteful.otf);
    font-family: TAsteful;
    font-style: normal;
}
@font-face {
    src: url(fonts/pepsi.ttf);
    font-family: pepsi;
    font-style: normal;
}
* {
    box-sizing: inherit;
    margin: 0; padding: 0;
}

body {
    background-image: url('images/backgroundnight.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    /* Adjust this value to match your header's height */
}

.navimg {
    width: 10vw


}
.logodiv {
    padding-top: 1%;}

nav {
    display: block;
}

.navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    min-height: 8vw;
    max-height: 8vw;
    line-height: 0px;
    background: rgba(57, 57, 57, 0.218);
    backdrop-filter: saturate(180%) blur(50px);
    z-index: 1030;
}

.nav-link {
    text-decoration: none;
    display: inline-block;
    border: 0px solid rgba(255, 255, 255, 0);
    border-radius: 20px;
    padding: 2vw 2vh;
    font-size: 2.5vw;
    color: hsl(0, 0%, 55%);
    background: black;
    margin-top: 2vw;
    margin-right: 20px;
    margin-bottom: 20px;
}

.homenav {
    color: hsl(271, 100%, 69%);
}

.nav-link:hover {
    color: hsl(60, 33%, 88%);
}

nav {
    background: rgba(70, 69, 69, 0.139);
    backdrop-filter: saturate(180%) blur(50px);
    border-radius: 30px;
}
active, .actove:hover{
    padding: 20px 20px;
    color: rgb(240, 236, 236);
    background: rgb(133, 133, 133);
    border-radius: 15px;
    transition: .75s;
}

/* Additional styles for the body */

.counterdiv {
    display: flex;
    justify-content: center;
}

.counterdivnumber {
    display: flex;
    justify-content: center;
}

.totaltext {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(176, 176, 176);
    border-radius: 20px;
    padding: 1vw 1vh;
    background: rgba(246, 246, 246, 0.102);
    backdrop-filter: saturate(180%) blur(50px);
    color: rgb(212, 212, 212);
    font-size: 5vw;
    width: 35vw;
}

#total-votes {
    margin-top: 2%;

    display: flex;
    text-align: center;
    justify-content: center;
    color: rgb(176, 176, 176);
    border-radius: 20px;
    padding: 0vw 0vh;
    background: rgba(246, 246, 246, 0.102);
    backdrop-filter: saturate(180%) blur(50px);
    color: rgb(212, 212, 212);
    font-size: 5vw;
    font-family: TAsteful;
    width: 35vw;
}

.votefvtdiv {
    display: flex;
    justify-content: center;
}
.votefvt {
    text-align: center;
    color: rgb(197, 195, 195);
    font-size: 2.5vw;
    border-radius: 30px;
    padding: 3vw;
    margin: 5% 0%;
    background: rgba(246, 246, 246, 0.102);
    backdrop-filter: saturate(180%) blur(50px);

}

/* Voting Radio Buttons */

.cokefont{
    color: azure;
    font-family: LOKICOLA,sans-serif;
}

.pepsifont{
    font-family: pepsi,sans-serif;
    color: azure;
}
.voting-options{ 
    display: flex;
    flex-direction: row;
    justify-content:center;
}
#pepsi {
    visibility: hidden;
}
#coke {
    visibility: hidden;
}


.checkboxtext {
    margin: 5%;
    border-radius: 20px;
    font-size: 5vw;
    padding: 20px;
    text-align: center;
    background: rgba(246, 246, 246, 0.102);
    backdrop-filter: saturate(180%) blur(50px);
    cursor: pointer;
}

active, .checkboxtext:hover{
    .cokefont {
        color: rgb(89, 20, 20);
    }
    .pepsifont {
        color: rgb(19, 21, 143);
    }
    background: rgb(150, 146, 146);
    transition: 0.25s ;
    box-shadow: 5px 5px 20px 0px rgba(255, 255, 255, 0.704);


}
input[type="radio"]:checked + label{
    background: black;
    box-shadow: 0 10px 45px rgba(153, 150, 150, 0.704);
}


/* Vote Button */
.btnalign {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.btn {
    font-family: TAsteful;
    font-size: 7vw;
    background: rgba(246, 246, 246, 0.102);
    backdrop-filter: saturate(180%) blur(50px);
    border: none;
    color: rgb(194, 240, 240);
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    width: 30%;
}
active, .btn:hover{
    padding: 10px;
    color: rgb(27, 26, 26);
    background: rgb(188, 186, 186);
    transition: .75s;
    box-shadow: 0 10px 45px rgba(255, 255, 255, 0.704);
}
p{
    color: aliceblue;
    font-family: TAsteful;
    font-size: 3em;
}
